<div class="pd-2">
    <div class="row px-0">
        <div class="col-2">
            <div class="timeline">
                <div class="top-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="line-2"></div>
                <span class="dot-3"></span>
                <span class="dot-9"></span>
                <span class="dot-10"></span>
            </div>
        </div>
        <div class="col-10 px-0">
            <span class="text-9">CONTACT ME</span>
            <br>
            <br>
            <div class="contact-block">
                <div class="top-icon-2">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="numbers">
                    <p class="text-10">+1-718-310-5588</p>
                    <p class="text-10">+1-313-381-8167</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="top-icon-2">
                    <i class="fa-solid fa-earth"></i>
                </div>
                <div class="numbers">
                    <p class="text-10">www.yourwebsite.com</p>
                    <p class="text-10">yourinfo@email.com</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="top-icon-2">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="numbers">
                    <p class="text-10">769 Prudence Street</p>
                    <p class="text-10">Lincoln Park, MI 48146</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row px-0">
        <div class="col-2">
            <div class="timeline">
                <div class="top-icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <div class="line-3"></div>
                <span class="dot-4"></span>
                <span class="dot-7"></span>
                <span class="dot-8"></span>
            </div>
        </div>
        <div class="col-10 px-0">
            <span class="text-9">JOB EXPERIENCE</span>
            <div class="contact-block">
                <div class="numbers">
                    <div class="exp-header">
                        <h3>WEB DESIGNER</h3>
                        <span class="exp-date">2020 - Present</span>
                    </div>
                    <p class="exp-place">Creative Agency / Chicago</p>
                    <br>
                    <br>
                    <p class="exp-text">
                        Lorem Ipsum has been the industry's<br>
                        standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of<br>
                        type.
                    </p>
                </div>
            </div>
            <div class="contact-block">
                <div class="numbers">
                    <div class="exp-header">
                        <h3>GRAPHIC DESIGNER</h3>
                        <span class="exp-date">2013 - 2020</span>
                    </div>
                    <p class="exp-place">Creative Market / Chicago</p>
                    <br>
                    <br>
                    <p class="exp-text">
                        Lorem Ipsum has been the industry's<br>
                        standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of<br>
                        type.
                    </p>
                </div>
            </div>
            <div class="contact-block">
                <div class="numbers">
                    <div class="exp-header">
                        <h3>MARKETING MANAGER</h3>
                        <span class="exp-date">2013 - 2015</span>
                    </div>
                    <p class="exp-place">Manufacturing Agency / NJ</p>
                    <br>
                    <br>
                    <p class="exp-text">
                        Lorem Ipsum has been the industry's<br>
                        standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of<br>
                        type.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row px-0">
        <div class="col-2">
            <div class="timeline">
                <div class="top-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="line-4"></div>
                <span class="dot-5"></span>
                <span class="dot-6"></span>
            </div>
        </div>
        <div class="col-10 px-0">
            <span class="text-9">REFERENCES</span>
            <br>
            <br>
            <div class="contact-block">
                <div>
                    <h3 class="name">DARWIN B. MAGANA</h3>
                    <div class="text-11">2813 Shobe Lane Mancos, CO.</div>
                    <div class="text-11">Tel: +1-970-533-3393</div>
                    <div class="text-11">Email: www.yourwebsite.com</div>
                </div>
            </div>
            <br>
            <div class="contact-block">
                <div>
                    <h3 class="name">ROBERT J. BELVIN</h3>
                    <div class="text-11">2119 Fairfax Drive Newark, NJ.</div>
                    <div class="text-11">Tel: +1-908-987-5103</div>
                    <div class="text-11">Email: www.yourwebsite.com</div>
                </div>
            </div>
        </div>
    </div>
</div>
