// ---------------------
// VARIABLES
// ---------------------
$color-dark: #283439;
$color-light: #555;
$color-accent: #16d1e6;
$color-accent2: #00c4e6;
$color-accent3: #02c5dc;
$color-black: #1e1e1e;
$font-main: sans-serif;

// ---------------------
// MIXINS
// ---------------------

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($size, $bg) {
  @include size($size, $size);
  background: $bg;
  border-radius: 50%;
}

@mixin dot {
  @include circle(20px, $color-accent);
  border: 4px solid white;
}

@mixin line($h) {
  width: 3.2px;
  height: $h;
  background: $color-accent;
}

.dot-base {
  @include dot;
}

.line-base {
  @include line(auto);
}

.pd-2 {
  padding-left: 80px;
  padding-top: 80px;
}

.text-9 {
  font-size: 28px;
  text-transform: uppercase;
  color: $color-dark;
  font-weight: 700;
}

.line-2 {
  @include line(210px);
}

.contact-block {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $font-main;
}

.icon-circle {
  @include circle(36px, $color-accent2);
  @include flex-center;

  img {
    width: 18px;
  }
}

.dot-3 {
  @extend .dot-base;
  margin-top: -165px;
}

.dot-9 {
  @extend .dot-base;
  margin-top: 37px;
}

.dot-10 {
  @extend .dot-base;
  margin-top: 37px;
}

.top-icon-2 {
  @include circle(26px, $color-accent3);
  @include flex-center;
  font-size: 15px;
  color: $color-dark;
  margin-left: 20px;
}

.numbers {
  margin-top: 15px;
  line-height: 5px;
}

.text-10 {
  font-size: 14px;
  color: $color-dark;
  font-weight: 100;
}

.line-3 {
  @include line(615px);
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;

  h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 780;
    color: #2d2d2d;
  }
}

.exp-date {
  font-size: 16px;
  color: $color-accent2;
  font-weight: 600;
}

.exp-place {
  margin: 5px 0 15px;
  font-size: 16px;
  font-style: italic;
  color: $color-light;
}

.exp-text {
  font-size: 16px;
  line-height: 1.5;
  color: $color-light;
  text-align: justify;
  width: 320px;
}

.dot-4 {
  @extend .dot-base;
  margin-top: -585px;
}

.dot-7 {
  @extend .dot-base;
  margin-top: 185px;
}

.dot-8 {
  @extend .dot-base;
  margin-top: 185px;
}

.line-4 {
  @include line(220px);
}

.name {
  font-size: 17px;
  font-weight: 600;
  color: $color-black;
  margin-bottom: 10px;
}

.text-11 {
  font-size: 14px;
  color: $color-dark;
  font-weight: 100;
  margin-top: 5px;
  line-height: 12px;
}

.dot-5 {
  @extend .dot-base;
  margin-top: -195px;
}

.dot-6 {
  @extend .dot-base;
  margin-top: 80px;
}
