.bg{
  background-color: #283439;
}

.pd{
  padding-left: 80px;
  padding-top: 80px;
}

.img{
  width: 270px;
  height: 320px;
  border: 7px solid white;
}

.text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  transform: rotate(90deg);
  display: inline-block;
}

.text-2 {
  font-size: 20px;
  color: #ffffff;
}

.icon{
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.text-3{
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.text-4{
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
  font-weight: 300;
}

.text-5{
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.text-6{
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
}

.text-7{
  font-size: 14px;
  color: #02c5dc;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin-left: 20px;
}

.top-icon {
  width: 40px;
  height: 40px;
  background: #02c5dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #283439;
}

.line {
  width: 2.5px;
  height: 220px;
  background: #16d1e6;
}

.dot {
  width: 20px;
  height: 20px;
  background: #16d1e6;
  border-radius: 50%;
  border:  4px solid #283439;
  margin-top: -92px;
}

.dot-2 {
  width: 20px;
  height: 20px;
  background: #16d1e6;
  border-radius: 50%;
  border:  4px solid #283439;
  margin-top: -118px;
}

.pd-top{
  padding-top: 80px;
}

.rating {
  display: flex;
  gap: 2px;
  margin-left: 20px;
  margin-top: 10px;
}

.star {
  width: 11px;
  margin-top: 5px;
  height: 11px;
  background: #728086;
  clip-path: polygon(
                  50% 0%,
                  61% 35%,
                  98% 35%,
                  68% 57%,
                  79% 91%,
                  50% 70%,
                  21% 91%,
                  32% 57%,
                  2% 35%,
                  39% 35%
  );
}

.star.filled {
  background: #02c5dc;
}

.text-8{
  font-size: 12px;
  color: #ffffff;
  font-weight: 300;
}

.pad{
  padding-left: 10px;
}

.pad-2{
  padding-left: 25px;
}

.pad-3{
  padding-left: 30px;
}

.pad-4{
  padding-left: 30px;
}